<h1>Listing company_summaries</h1>

<table>
  <thead>
    <tr>
      <th>Ownership</th>
      <th>Start plan</th>
      <th>Locations</th>
      <th>Business plan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @company_summaries.each do |company_summary| %>
      <tr>
        <td><%= company_summary.ownership %></td>
        <td><%= company_summary.start_plan %></td>
        <td><%= company_summary.locations %></td>
        <td><%= company_summary.business_plan %></td>
        <td><%= link_to 'Show', company_summary %></td>
        <td><%= link_to 'Edit', edit_company_summary_path(company_summary) %></td>
        <td><%= link_to 'Destroy', company_summary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company summary', new_company_summary_path %>
