<h1>Listing financial_plans</h1>

<table>
  <thead>
    <tr>
      <th>Important assumptions</th>
      <th>Key financial indicators</th>
      <th>Projected profit and loss</th>
      <th>Projected cash flow</th>
      <th>Projected balance sheet</th>
      <th>Long term financial plan</th>
      <th>Business plan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @financial_plans.each do |financial_plan| %>
      <tr>
        <td><%= financial_plan.important_assumptions %></td>
        <td><%= financial_plan.key_financial_indicators %></td>
        <td><%= financial_plan.projected_profit_and_loss %></td>
        <td><%= financial_plan.projected_cash_flow %></td>
        <td><%= financial_plan.projected_balance_sheet %></td>
        <td><%= financial_plan.long_term_financial_plan %></td>
        <td><%= financial_plan.business_plan %></td>
        <td><%= link_to 'Show', financial_plan %></td>
        <td><%= link_to 'Edit', edit_financial_plan_path(financial_plan) %></td>
        <td><%= link_to 'Destroy', financial_plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Financial plan', new_financial_plan_path %>
