<%- model_class = Basic -%>
<div class="page-header">
  <h1><%=t '.title', :default => Basic %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:value_proposition) %></th>
      <th><%= model_class.human_attribute_name(:objective) %></th>
      <th><%= model_class.human_attribute_name(:plan_description) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @basics.each do |basic| %>
      <tr>
        <td><%= basic.id %></td>
        <td><%= basic.value_proposition %></td>
        <td><%= basic.objective %></td>
        <td><%= basic.plan_description %></td>
        <td><%=l basic.created_at, format: :long %></td>
        <td>
          <%= link_to basic_path(basic), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to basic_path(basic), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_basic_path,
            :class => 'btn btn-primary' %>
