<h1>Listing business_plans</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @business_plans.each do |business_plan| %>
      <tr>
        <td><%= business_plan.title %></td>
        <td><%= link_to 'Show', business_plan %></td>
        <td><%= link_to 'Edit', edit_business_plan_path(business_plan) %></td>
        <td><%= link_to 'Destroy', business_plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Business plan', new_business_plan_path %>
