<p id="notice"><%= notice %></p>

<p>
  <strong>Value proposition:</strong>
  <%= @strategyand_implementation.value_proposition %>
</p>

<p>
  <strong>Competitive advantage:</strong>
  <%= @strategyand_implementation.competitive_advantage %>
</p>

<p>
  <strong>Positioning statements:</strong>
  <%= @strategyand_implementation.positioning_statements %>
</p>

<p>
  <strong>Pricing strategy:</strong>
  <%= @strategyand_implementation.pricing_strategy %>
</p>

<p>
  <strong>General promotion strategy:</strong>
  <%= @strategyand_implementation.general_promotion_strategy %>
</p>

<p>
  <strong>Distribution patterns:</strong>
  <%= @strategyand_implementation.distribution_patterns %>
</p>

<p>
  <strong>Sales strategy:</strong>
  <%= @strategyand_implementation.sales_strategy %>
</p>

<p>
  <strong>Sales programs:</strong>
  <%= @strategyand_implementation.sales_programs %>
</p>

<p>
  <strong>Strategic partnerships:</strong>
  <%= @strategyand_implementation.strategic_partnerships %>
</p>

<p>
  <strong>Milestones:</strong>
  <%= @strategyand_implementation.milestones %>
</p>

<p>
  <strong>Business plan:</strong>
  <%= @strategyand_implementation.business_plan %>
</p>

<%= link_to 'Edit', edit_strategyand_implementation_path(@strategyand_implementation) %> |
<%= link_to 'Back', strategyand_implementations_path %>
