<h1>Listing management_summaries</h1>

<table>
  <thead>
    <tr>
      <th>Organization structure</th>
      <th>Management team</th>
      <th>Team gaps</th>
      <th>Personnel plan</th>
      <th>Business plan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @management_summaries.each do |management_summary| %>
      <tr>
        <td><%= management_summary.organization_structure %></td>
        <td><%= management_summary.management_team %></td>
        <td><%= management_summary.team_gaps %></td>
        <td><%= management_summary.personnel_plan %></td>
        <td><%= management_summary.business_plan %></td>
        <td><%= link_to 'Show', management_summary %></td>
        <td><%= link_to 'Edit', edit_management_summary_path(management_summary) %></td>
        <td><%= link_to 'Destroy', management_summary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Management summary', new_management_summary_path %>
