<p id="notice"><%= notice %></p>

<p>
  <strong>Buyer profile:</strong>
  <%= @marketing_plan.buyer_profile %>
</p>

<p>
  <strong>Title:</strong>
  <%= @marketing_plan.title %>
</p>

<%= link_to 'Edit', edit_marketing_plan_path(@marketing_plan) %> |
<%= link_to 'Back', marketing_plans_path %>
