<%= simple_form_for(@strategy) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :marketing_plan %>
    <%= f.input :type_of_activity %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :implementation_team %>
    <%= f.input :estimated_cost %>
    <%= f.input :media_strategy %>
    <%= f.input :distribution_channels %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
